// home

.nav {
    height: 40px;

    .nav-link {
        color: white;
        font-size: 20px;
        font-weight: 600;
        &:hover {
            color: red;
        }
    }
}
// CAROUSEL

.carousel {
    margin-bottom: 2vw;
    margin-top: 20px;
}

// BANNER 1
.bannerMenu {
    width: 100vw;
    height: auto;
    overflow: hidden;
    position: relative;
    margin: 20px auto;
    box-shadow: 5px 8px 12px black;
    img {
        width: 100%;
        height: 100%;
        filter: blur(5px);
        &:hover{
            filter: blur(0);
        }
    }
    a {
        font-size: 3rem;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-decoration: none;
        transition: 0.5s;
        &:hover{
            color: red;
        }
    }
}

// CONTENIDO

.tituloPromos {
    text-align: center;
    margin-top: 2rem;
}

.seccionPromos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;

    img {
        max-width: 500px;
        margin: 4px;
    }
    
}